In [1]:
import graphlab

In [2]:
sales = graphlab.SFrame('kc_house_data.gl/')

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\KONSTA~1\AppData\Local\Temp\graphlab_server_1481044406.log.0

This non-commercial license of GraphLab Create for academic use is assigned to dragonflarex@mail.bg and will expire on October 28, 2017.

In [3]:
train_data,test_data = sales.random_split(.8,seed=0)

In [4]:
sales

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 21613

Data:
+------------+---------------------------+-----------+----------+-----------+
|     id     |            date           |   price   | bedrooms | bathrooms |
+------------+---------------------------+-----------+----------+-----------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900.0 |   3.0    |    1.0    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000.0 |   3.0    |    2.25   |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000.0 |   2.0    |    1.0    |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000.0 |   4.0    |    3.0    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000.0 |   3.0    |    2.0    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000.0 |   4.0    |    4.5    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500.0 |   3.0    |    2.25   |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850.0 |   3.0    |    1.5    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500.0 |   3.0    |    1.0    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000.0 |   3.0    |    2.5    |
+------------+---------------------------+-----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+------------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade | sqft_above |
+-------------+----------+--------+------------+------+-----------+-------+------------+
|    1180.0   |   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |
|    2570.0   |   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |
|    770.0    |  10000   |   1    |     0      |  0   |     3     |   6   |    770     |
|    1960.0   |   5000   |   1    |     0      |  0   |     5     |   7   |    1050    |
|    1680.0   |   8080   |   1    |     0      |  0   |     3     |   8   |    1680    |
|    5420.0   |  101930  |   1    |     0      |  0   |     3     |   11  |    3890    |
|    1715.0   |   6819   |   2    |     0      |  0   |     3     |   7   |    1715    |
|    1060.0   |   9711   |   1    |     0      |  0   |     3     |   7   |    1060    |
|    1780.0   |   7470   |   1    |     0      |  0   |     3     |   7   |    1050    |
|    1890.0   |   6560   |   2    |     0      |  0   |     3     |   7   |    1890    |
+-------------+----------+--------+------------+------+-----------+-------+------------+
+---------------+----------+--------------+---------+-------------+
| sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+---------------+----------+--------------+---------+-------------+
|       0       |   1955   |      0       |  98178  | 47.51123398 |
|      400      |   1951   |     1991     |  98125  | 47.72102274 |
|       0       |   1933   |      0       |  98028  | 47.73792661 |
|      910      |   1965   |      0       |  98136  |   47.52082  |
|       0       |   1987   |      0       |  98074  | 47.61681228 |
|      1530     |   2001   |      0       |  98053  | 47.65611835 |
|       0       |   1995   |      0       |  98003  | 47.30972002 |
|       0       |   1963   |      0       |  98198  | 47.40949984 |
|      730      |   1960   |      0       |  98146  | 47.51229381 |
|       0       |   2003   |      0       |  98038  | 47.36840673 |
+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.25677536 |     1340.0    | ... |
|  -122.3188624 |     1690.0    | ... |
| -122.23319601 |     2720.0    | ... |
| -122.39318505 |     1360.0    | ... |
| -122.04490059 |     1800.0    | ... |
| -122.00528655 |     4760.0    | ... |
| -122.32704857 |     2238.0    | ... |
| -122.31457273 |     1650.0    | ... |
| -122.33659507 |     1780.0    | ... |
|  -122.0308176 |     2390.0    | ... |
+---------------+---------------+-----+
[21613 rows x 21 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [47]:
example_features = ['sqft_living', 'bedrooms', 'bathrooms']
example_model = graphlab.linear_regression.create(train_data, target = 'price', features = example_features, 
                                                  validation_set = None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 3

Number of unpacked features : 3

Number of coefficients    : 4

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.005999     | 4146407.600631     | 258679.804477 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [48]:
example_weight_summary = example_model.get("coefficients")
print example_weight_summary

+-------------+-------+----------------+---------------+
|     name    | index |     value      |     stderr    |
+-------------+-------+----------------+---------------+
| (intercept) |  None | 87910.0724924  |  7873.3381434 |
| sqft_living |  None | 315.403440552  | 3.45570032585 |
|   bedrooms  |  None | -65080.2155528 | 2717.45685442 |
|  bathrooms  |  None | 6944.02019265  | 3923.11493144 |
+-------------+-------+----------------+---------------+
[4 rows x 4 columns]

In [75]:
example_predictions = example_model.predict(test_data)
print example_predictions[0]

350640.366016

In [76]:
test_data['price']

dtype: float
Rows: 4229
[310000.0, 650000.0, 233000.0, 580500.0, 535000.0, 605000.0, 775000.0, 292500.0, 289000.0, 571000.0, 349000.0, 360000.0, 243500.0, 247500.0, 470000.0, 480000.0, 770000.0, 519950.0, 527700.0, 420000.0, 890000.0, 282950.0, 255000.0, 420000.0, 807100.0, 284000.0, 917500.0, 425000.0, 260000.0, 297000.0, 274250.0, 840000.0, 677900.0, 280000.0, 279950.0, 479950.0, 264950.0, 1025000.0, 2400000.0, 260000.0, 525000.0, 369900.0, 210000.0, 304900.0, 170000.0, 2050000.0, 780000.0, 330000.0, 360000.0, 550000.0, 208633.0, 315000.0, 1384000.0, 1400000.0, 548000.0, 520000.0, 230000.0, 232000.0, 740000.0, 640000.0, 940000.0, 559900.0, 265000.0, 425000.0, 552250.0, 206600.0, 299000.0, 855000.0, 437500.0, 420000.0, 795000.0, 810000.0, 338000.0, 315000.0, 450000.0, 799000.0, 403950.0, 490000.0, 330000.0, 927000.0, 530000.0, 352000.0, 322500.0, 650000.0, 339000.0, 570000.0, 423000.0, 482000.0, 1300000.0, 988000.0, 1000000.0, 350000.0, 205000.0, 333500.0, 255000.0, 348000.0, 325000.0, 340500.0, 290900.0, 315000.0, ... ]

In [77]:
example_predictions

dtype: float
Rows: 4229
[350640.3660160429, 778861.4204877042, 445897.34956327884, 641765.4583963803, 243403.19622833145, 671306.2750091888, 1174215.774844374, 554607.0020049146, 302229.79626667476, 708836.7121846358, 469393.6197592837, 444215.7978116822, 469448.07305584964, 523012.20465313934, 414930.0143861475, 863702.3737459652, 826117.4832739523, 277315.4967133114, 669306.7475667881, 233941.09301176868, 638812.0038815672, 293867.74671666627, 427864.12769903534, 543672.4161344274, 690230.4814423143, 396850.82843230246, 1068714.6101048253, 263281.3297338693, 436753.22203752014, 521912.1509865852, 186630.57692895483, 621941.7781874082, 679613.8712626314, 232786.58604864846, 458513.4871853625, 447896.8770056796, 385707.17346414307, 976202.0119747302, 996171.818777844, 477437.69361848803, 570640.6964267574, 267744.4869036168, 435799.2949651077, 659790.1910536593, 235940.6204541694, 991336.2326207265, 948861.30269503, 676777.8125479145, 526220.6923552263, 527902.2441068229, 553452.4950417944, 602181.0404819667, 1203238.0358756706, 1203238.0358756706, 428336.7191909458, 548562.455588111, 363892.4550197348, 355793.9278639645, 488054.303798171, 302175.34297010885, 626831.8176410918, 835897.5621813192, 352694.3467550095, 693330.0625512693, 658690.1373871051, 344968.24858660926, 204663.79879319837, 562651.0758641189, 276943.0677259414, 386489.25143989315, 738695.5044882484, 955169.3715060718, 507614.4616129048, 530792.7561181056, 422083.1036764699, 634875.8915002961, 513604.5547331426, 536264.2936568313, 414674.9811988737, 887516.6196327741, 636030.3984634164, 261172.89569833683, 418983.5225675149, 391496.6866936729, 591819.4634895574, 822645.4731776272, 537100.8249291475, 264326.9301038577, 647755.551516618, 1122651.170689485, 668152.2406036679, 297339.7568129912, 196092.6801455176, 289613.658644591, 295921.7274556329, 718880.3134862408, 428445.6257840777, 622523.2762724506, 479437.22106088884, 163397.82912718816, ... ]

In [78]:
def get_residual_sum_of_squares(model, data, outcome):
    # First get the predictions
    pred_values=example_predictions;
    # Then compute the residuals/errors
    RSS=outcome-pred_values;
    # Then square and add them up
    RSS_sq=RSS*RSS;
    RSS_sum=RSS_sq.sum();
    return(RSS_sum)

In [79]:
rss_example_train = get_residual_sum_of_squares(example_model, test_data, test_data['price'])
print rss_example_train # should be 2.7376153833e+14

2.7376153833e+14

In [54]:
from math import log

In [55]:
train_data['bedrooms_squared'] = train_data['bedrooms'].apply(lambda x: x**2)
test_data['bedrooms_squared'] = test_data['bedrooms'].apply(lambda x: x**2)

In [65]:
train_data['bed_bath_rooms']=train_data['bedrooms']*train_data['bathrooms']
test_data['bed_bath_rooms']=test_data['bedrooms']*test_data['bathrooms']
train_data['log_sqft_living']=train_data['sqft_living'].apply(lambda x:log(x))
test_data['log_sqft_living']=test_data['sqft_living'].apply(lambda x:log(x))
train_data['lat_plus_long']=train_data['lat']+train_data['long']
test_data['lat_plus_long']=test_data['lat']+test_data['long']

In [66]:
sales

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 21613

Data:
+------------+---------------------------+-----------+----------+-----------+
|     id     |            date           |   price   | bedrooms | bathrooms |
+------------+---------------------------+-----------+----------+-----------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900.0 |   3.0    |    1.0    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000.0 |   3.0    |    2.25   |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000.0 |   2.0    |    1.0    |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000.0 |   4.0    |    3.0    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000.0 |   3.0    |    2.0    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000.0 |   4.0    |    4.5    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500.0 |   3.0    |    2.25   |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850.0 |   3.0    |    1.5    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500.0 |   3.0    |    1.0    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000.0 |   3.0    |    2.5    |
+------------+---------------------------+-----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+------------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade | sqft_above |
+-------------+----------+--------+------------+------+-----------+-------+------------+
|    1180.0   |   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |
|    2570.0   |   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |
|    770.0    |  10000   |   1    |     0      |  0   |     3     |   6   |    770     |
|    1960.0   |   5000   |   1    |     0      |  0   |     5     |   7   |    1050    |
|    1680.0   |   8080   |   1    |     0      |  0   |     3     |   8   |    1680    |
|    5420.0   |  101930  |   1    |     0      |  0   |     3     |   11  |    3890    |
|    1715.0   |   6819   |   2    |     0      |  0   |     3     |   7   |    1715    |
|    1060.0   |   9711   |   1    |     0      |  0   |     3     |   7   |    1060    |
|    1780.0   |   7470   |   1    |     0      |  0   |     3     |   7   |    1050    |
|    1890.0   |   6560   |   2    |     0      |  0   |     3     |   7   |    1890    |
+-------------+----------+--------+------------+------+-----------+-------+------------+
+---------------+----------+--------------+---------+-------------+
| sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+---------------+----------+--------------+---------+-------------+
|       0       |   1955   |      0       |  98178  | 47.51123398 |
|      400      |   1951   |     1991     |  98125  | 47.72102274 |
|       0       |   1933   |      0       |  98028  | 47.73792661 |
|      910      |   1965   |      0       |  98136  |   47.52082  |
|       0       |   1987   |      0       |  98074  | 47.61681228 |
|      1530     |   2001   |      0       |  98053  | 47.65611835 |
|       0       |   1995   |      0       |  98003  | 47.30972002 |
|       0       |   1963   |      0       |  98198  | 47.40949984 |
|      730      |   1960   |      0       |  98146  | 47.51229381 |
|       0       |   2003   |      0       |  98038  | 47.36840673 |
+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.25677536 |     1340.0    | ... |
|  -122.3188624 |     1690.0    | ... |
| -122.23319601 |     2720.0    | ... |
| -122.39318505 |     1360.0    | ... |
| -122.04490059 |     1800.0    | ... |
| -122.00528655 |     4760.0    | ... |
| -122.32704857 |     2238.0    | ... |
| -122.31457273 |     1650.0    | ... |
| -122.33659507 |     1780.0    | ... |
|  -122.0308176 |     2390.0    | ... |
+---------------+---------------+-----+
[21613 rows x 21 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [67]:
test_data['bedrooms_squared'].mean();
test_data['bed_bath_rooms'].mean();
test_data['log_sqft_living'].mean()
test_data['lat_plus_long'].mean()

-74.65333497217307

In [68]:

model_1_features = ['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long']
model_2_features = model_1_features + ['bed_bath_rooms']
model_3_features = model_2_features + ['bedrooms_squared', 'log_sqft_living', 'lat_plus_long']

In [69]:
model_1 = graphlab.linear_regression.create(train_data, target = 'price', features = model_1_features, 
                                                  validation_set = None)
model_2= graphlab.linear_regression.create(train_data, target = 'price', features = model_2_features, 
                                                  validation_set = None)
model_3=graphlab.linear_regression.create(train_data, target = 'price', features = model_3_features, 
                                                  validation_set = None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 5

Number of unpacked features : 5

Number of coefficients    : 6

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.031252     | 4074878.213096     | 236378.596455 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 6

Number of unpacked features : 6

Number of coefficients    : 7

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.036145     | 4014170.932928     | 235190.935428 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 9

Number of unpacked features : 9

Number of coefficients    : 10

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.036012     | 3193229.177908     | 228200.043155 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [70]:
model1_weight_summary = model_1.get("coefficients")
print model1_weight_summary
model2_weight_summary = model_2.get("coefficients")
print model2_weight_summary
model3_weight_summary = model_3.get("coefficients")
print model3_weight_summary

+-------------+-------+----------------+---------------+
|     name    | index |     value      |     stderr    |
+-------------+-------+----------------+---------------+
| (intercept) |  None | -56140675.7444 | 1649985.42028 |
| sqft_living |  None | 310.263325778  | 3.18882960408 |
|   bedrooms  |  None | -59577.1160683 | 2487.27977322 |
|  bathrooms  |  None | 13811.8405419  | 3593.54213297 |
|     lat     |  None | 629865.789485  | 13120.7100323 |
|     long    |  None | -214790.285186 | 13284.2851607 |
+-------------+-------+----------------+---------------+
[6 rows x 4 columns]

+----------------+-------+----------------+---------------+
|      name      | index |     value      |     stderr    |
+----------------+-------+----------------+---------------+
|  (intercept)   |  None | -54410676.1152 | 1650405.16541 |
|  sqft_living   |  None | 304.449298056  | 3.20217535637 |
|    bedrooms    |  None | -116366.04323  | 4805.54966546 |
|   bathrooms    |  None | -77972.3305131 | 7565.05991091 |
|      lat       |  None | 625433.834953  | 13058.3530972 |
|      long      |  None | -203958.602959 | 13268.1283711 |
| bed_bath_rooms |  None | 26961.6249091  | 1956.36561555 |
+----------------+-------+----------------+---------------+
[7 rows x 4 columns]

+------------------+-------+----------------+---------------+
|       name       | index |     value      |     stderr    |
+------------------+-------+----------------+---------------+
|   (intercept)    |  None | -52974974.0598 | 1615194.94383 |
|   sqft_living    |  None | 529.196420561  | 7.69913498509 |
|     bedrooms     |  None | 28948.5277291  | 9395.72889104 |
|    bathrooms     |  None | 65661.2072295  | 10795.3380703 |
|       lat        |  None | 704762.148378  |      nan      |
|       long       |  None | -137780.019966 |      nan      |
|  bed_bath_rooms  |  None | -8478.36410481 | 2858.95391257 |
| bedrooms_squared |  None | -6072.38466052 | 1494.97042777 |
| log_sqft_living  |  None | -563467.78426  | 17567.8230813 |
|  lat_plus_long   |  None | -83217.197896  |      nan      |
+------------------+-------+----------------+---------------+
[10 rows x 4 columns]

In [ ]:
model1_example_train = get_residual_sum_of_squares(model_1, train_data, test_data['price'])
print model1_example_train 
model2_example_train = get_residual_sum_of_squares(model_2, train_data, test_data['price'])
print model2_example_train 
model3_example_train = get_residual_sum_of_squares(model_3, train_data, test_data['price'])
print model1_example_train 
model1_example_test = get_residual_sum_of_squares(model_1, train_data, test_data['price'])
print model1_example_train

In [80]:
def get_residual_sum_of_squares1(model, data, outcome):
    # First get the predictions
    pred_values=model_1.predict(test_data)
    # Then compute the residuals/errors
    RSS=outcome-pred_values;
    # Then square and add them up
    RSS_sq=RSS*RSS;
    RSS_sum=RSS_sq.sum();
    return(RSS_sum)

In [81]:
def get_residual_sum_of_squares2(model, data, outcome):
    # First get the predictions
    pred_values=model_2.predict(test_data)
    # Then compute the residuals/errors
    RSS=outcome-pred_values;
    # Then square and add them up
    RSS_sq=RSS*RSS;
    RSS_sum=RSS_sq.sum();
    return(RSS_sum)

In [82]:
def get_residual_sum_of_squares3(model, data, outcome):
    # First get the predictions
    pred_values=model_3.predict(test_data)
    # Then compute the residuals/errors
    RSS=outcome-pred_values;
    # Then square and add them up
    RSS_sq=RSS*RSS;
    RSS_sum=RSS_sq.sum();
    return(RSS_sum)

In [83]:
def get_residual_sum_of_squares4(model, data, outcome):
    # First get the predictions
    pred_values=model_1.predict(train_data)
    # Then compute the residuals/errors
    RSS=outcome-pred_values;
    # Then square and add them up
    RSS_sq=RSS*RSS;
    RSS_sum=RSS_sq.sum();
    return(RSS_sum)

In [84]:
def get_residual_sum_of_squares5(model, data, outcome):
    # First get the predictions
    pred_values=model_2.predict(train_data)
    # Then compute the residuals/errors
    RSS=outcome-pred_values;
    # Then square and add them up
    RSS_sq=RSS*RSS;
    RSS_sum=RSS_sq.sum();
    return(RSS_sum)

In [85]:
def get_residual_sum_of_squares6(model, data, outcome):
    # First get the predictions
    pred_values=model_3.predict(train_data)
    # Then compute the residuals/errors
    RSS=outcome-pred_values;
    # Then square and add them up
    RSS_sq=RSS*RSS;
    RSS_sum=RSS_sq.sum();
    return(RSS_sum)

In [93]:
model1_example_train = get_residual_sum_of_squares4(model_1, train_data, train_data['price'])
print model1_example_train 
model2_example_train = get_residual_sum_of_squares5(model_2, train_data, train_data['price'])
print model2_example_train 
model3_example_train = get_residual_sum_of_squares6(model_3, train_data, train_data['price'])
print model3_example_train 
model1_example_test = get_residual_sum_of_squares1(model_1, test_data, test_data['price'])
print model1_example_test
model2_example_test = get_residual_sum_of_squares2(model_2, test_data, test_data['price'])
print model2_example_test 
model3_example_test = get_residual_sum_of_squares3(model_3, test_data, test_data['price'])
print model3_example_test

9.71328233544e+14
9.61592067856e+14
9.05276314556e+14
2.26568089093e+14
2.24368799994e+14
2.5182931895e+14

In [94]:
test1=test_data['bedrooms_squared'].mean();
print test1
test2=test_data['bed_bath_rooms'].mean();
print test2
test3=test_data['log_sqft_living'].mean()
print test3
test4=test_data['lat_plus_long'].mean()
print test4

12.4466777016
7.50390163159
7.55027467965
-74.6533349722